<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="navbar">
 <a href="#" class='fa fa-user-secret' style='color: white' width="30px"></a> 
  
 <%# <a href="#"><i class="fa fa-fw fa-user"></i> Login</a> %>

 <div class="login" >
 <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
</div>
</div>

<Style>
body {font-family: Arial, Helvetica, sans-serif;}


.login{
    padding-left:1200px;
}
.navbar {
  width: 100%;
  background-color: #151B54;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
</style>
</body>

</html>